/*=================FOTO LEGENDA==========-*/
.album-fotos {
    text-align: left; 
    padding: 0px; margin: 
    auto;
  }

img, video {
    max-width:100%;
}
.album-fotos ul{
   /*margin: 10px;
   padding: 10px;*/
   overflow: hidden;
   list-style:none;  
}
/*Album*/
.album-fotos li { 
   float: left;
   width: 200px;
   height:200px;
   margin: 45px 45px 45px 20px;
   border: 5px solid white;
   background-color: #ffffff;
   box-shadow: 1px 1px 3px rgba(0,0,0,.4);
   transition: all .4s ease-in; /*indicando a forma que a imagem vai crescer, ou seja de forma suave*/  
}
/*Texto interno*/
.album-fotos li span {
   opacity: 0; /*esconde a imagem*/
   color: #ffffff;
   text-shadow: 1px 1px 1px #000000;
   background-color: rgba(0,0,0,.3);
   font-size: 9pt;
   line-height: 355px; /*desloca a texto para onde quiser*/
   padding: 5px; /*margem interna no botão*/ 
   margin: auto; 
}
/*Aumento do ZOM*/
.album-fotos li:hover {
   transform: scale(1.3);
}
.album-fotos li a{
     text-decoration: none;
}
.album-fotos li:hover span { /*quando passar o mouse por cima a legnda aparecerá*/
   opacity: 1;
}
.album-fotos li#foto01 {
   background: url("../img/algoritmo/comando-saida/1.png") no-repeat;
   background-position: 50% 50%; /*posicionando a imagem no centro*/
   background-size: 540px 540px; /*tamanho original da imagem*/
   background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/    
}
.album-fotos li#foto01:hover {
   background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
   background-size: 190px 190px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto02 {
    background: url("../img/algoritmo/comando-saida/2.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto02:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto03 {
    background: url("../img/algoritmo/comando-saida/3.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto03:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto04 {
    background: url("../img/algoritmo/comando-saida/4.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto04:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto05 {
    background: url("../img/algoritmo/comando-saida/5.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto05:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto06 {
    background: url("../img/algoritmo/comando-saida/6.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto06:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto07 {
    background: url("../img/algoritmo/comando-saida/7.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto07:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto08 {
    background: url("../img/algoritmo/comando-saida/8.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto08:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto09 {
    background: url("../img/algoritmo/comando-saida/9.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto09:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto10 {
    background: url("../img/algoritmo/comando-saida/10.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto10:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto11 {
    background: url("../img/algoritmo/comando-saida/11.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/
}
.album-fotos li#foto11:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/

}
.album-fotos li#foto12 {
    background: url("../img/algoritmo/comando-saida/12.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/}
.album-fotos li#foto12:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
.album-fotos li#foto13 {
    background: url("../img/algoritmo/comando-saida/13.png") no-repeat;
    background-position: 50% 50%; /*posicionando a imagem no centro*/
    background-size: 540px 540px; /*tamanho original da imagem*/
    background-color: #ffffff; /*fazendo com que imagem só apareça quando passar o mouse*/}
.album-fotos li#foto13:hover {
    background-position: 0px 0px; /*vai mostrar na parte de cima da tela, ou seja, dar um zom*/
    background-size: 200px 200px; /*volta a mostrar a imagem menor*/
}
   