@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url("../fonts/bubblegum-sans-regular.otf");
}
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/*####### INICIANDO #########*/
 
body {
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #1c1c1c;
}
 
p,
ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}
 
a {
    color: #1D745A;
}

h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
    background-image: url("projetos.png");
}

h1 {
    font-family: 'FonteLogo';
    text-align: center; 
    font-weight: bold; 
    color: #890a08; 
    font-size: 2em; 
    margin-bottom: 42px; 
    margin-top: 42px;
}

h2 {
    font-family: 'FonteLogo';
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
 
/*######### LAYOUT ##########*/
 
article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
    text-align: justify;
}
/*######### CABEÇALHO ##############*/ 

 
header {
    background: #1c1c1c;
    padding: 15px 20px;
}
 
header:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}
 
nav li a.ativo {
    background: rgb(156, 156, 156);
}

/*######### ANCORA ############*/ 

a.menu_mobile:hover,
a.menu_mobile:focus {
    color: #1c1c1c;
    background: #ccc;
}

a.menu_mobile {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/*########### MENU ############*/ 
 
#menu {
    margin-top: 20px;
    font-family: 'FonteLogo';
    
}

#menu ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}
 
#menu li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
 
#menu li:last-child a {
    border-bottom: none;
}
 
#menu li a:hover,
#menu li a:focus {
    color: #1c1c1c;
    background: #ccc;
}

/*######## ESTUDOS ##########*/

.estudos {
    background: #e7e9e7;
} 
.estudos a {
    color:#000000;
}

.estudos h2 {
    color:#000000;

}
.estudos ul {
    margin-left: 6px;
    list-style: none;
}

.tit-img {
    font-weight: bold;
    font-family: 'FonteLogo';
}
.estudos article {
    border-bottom: 1px solid #b0b0b0;
}
.alg {
    background: url("../img/algoritmo.png") no-repeat 95% 95%;
}

.htm {
    background: url("../img/html.png") no-repeat 95% 95%;
}

.css {
    background: url("../img/css.png") no-repeat 95% 95%;
}

.js {
    background: url("../img/javascript.png") no-repeat 95% 95%;
}    

.php {
    background: url("../img/php.png") no-repeat 95% 95%;
}

.jav {
    background: url("../img/java.png") no-repeat 95% 95%;
}

.lin {
    background: url("../img/linux.png") no-repeat 95% 95%;
}

/*########## ALGORITMO ###########*/

.tit-img span {
    float: right;
    font-style: italic;
    font-size: 0.6em;
    font-weight: bold;
}

.exercicio {
    text-align: center;
    margin-bottom: 42px;
}

.codigo {
    background: #f1eded;
    padding: 10px;
    margin-top: -10px;
    margin-bottom: 17px;
}

.identecao {
    margin-left: 20px;
}

.alg-list {
    text-align: center;
}

.alg-list ul {
    text-align: center;
    list-style: none;
    font-weight: normal;
}

.alg-tit-span {
    font-weight: bold;
    font-size: 0.8em;
}

.alg-list a.ativo {
    color: red;
}
/*########## FOOTER #########*/
 
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 14px;
    text-align: center;
}

/*######### MEDIA ###########*/

@media only screen and (min-width: 768px) {
 
    a.menu_mobile {
        display: none;
    }
     
    .conteudo {
        position: relative;
        width: 866px;
        margin: auto;
    }
     
    #menu {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
     
    #menu li {
        display: inline;
    }
     
    #menu li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #menu li.top {
       display: none;
    }
 
    .servico .album-fotos {
        width: 100%; 
        margin: auto;
    }
}